@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrains-Mono/JetBrainsMono-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../fonts/PublicSans/PublicSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
.PublicSans {font-family: 'PublicSans';}
.JetBrainsMono {font-family: 'JetBrainsMono';}
.center-column {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    align-items: center;
    justify-content: center;
}
.center-row {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-content: center; 
    align-items: center;
}
.button {
    background-color: white; 
    padding: 1vmin;
    padding-top: 2vmin; 
    border-radius: 7vmin;
    width: 30vmin;
    font-size: 5vmin;
}
.selected {
    background-color: rgb(172, 167, 214); 
}
.spacer {
    padding: 1vmin;
}