@font-face {
    font-family: 'JetBrainsMono';
    src: url('../fonts/JetBrains-Mono/JetBrainsMono-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'PublicSans';
    src: url('../fonts/PublicSans/PublicSans-Bold.ttf');
    font-weight: normal;
    font-style: normal;
}
.PublicSans {font-family: 'PublicSans';}
.JetBrainsMono {font-family: 'JetBrainsMono';}
.center-column {
    display: flex; 
    flex-direction: column; 
    align-content: center; 
    align-items: center;
    justify-content: center;
}
.center-row {
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-content: center; 
    align-items: center;
}
.button {
    background-color: white; 
    padding: 1vmin;
    border-radius: 7vmin;
    width: 30vmin;
    font-size: 5vmin;
    border: 0.5vmin solid transparent;
}
.selected{
    border: 0.5vmin solid red;
    /* background-color: blue; */
}
.unselected{
    border: 0.5vmin solid transparent;
}
.selected-del {
    background-color: rgb(172, 167, 214); 
    transform: scale(1.05); /* Slight scaling for emphasis */
    border-width: 1vmin;
    border-color: red;
}
.spacer {
    padding: 1vmin;
}
.progress-container {
    width: 80vmin; /* Outer bar width */
    background-color: #ddd;
    border-radius: 4vmin;
    overflow: hidden;
    display: flex;
    align-items: center;
    align-content: center;
    border: 0 solid transparent;
    box-shadow: 0 0.5vmin 1vmin rgba(0, 0, 0, 0.1);
}
.progress-bar {
    height: 5vmin; /* Height of the progress bar */
    background-color: #4caf50;
    color: white;
    text-align: center;
    line-height: 5vmin;
    margin: 1vmin;
    font-size: 4vmin;
    border-top-left-radius: 3vmin;
    border-bottom-left-radius: 3vmin;
    border-top-right-radius: 3vmin;
    border-bottom-right-radius: 3vmin;
    transition: width 0.3s ease;
}
.custom-checkbox-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    font-size: 2vmin; /* Label text size */
    border: 0 dashed transparent;
}
.custom-checkbox {
    width: 4vmin; /* Checkbox size */
    height: 4vmin;
    background-color: #ddd;
    border-radius: 1vmin; /* Rounded corners */
    margin-right: 1vmin; /* Space between checkbox and label */
    box-shadow: inset 0 0 0.5vmin rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}
.custom-checkbox.checked {
    display: flex;
    justify-content: center;
    align-items: center;
}
.custom-checkbox.checked::before {
    color: white;
    font-size: 3vmin;
}
.check-image
{
    display: flex;
    filter: grayscale(1) brightness(0) sepia(1) hue-rotate(120deg) saturate(10);
    width:3vmin; 
    height:3vmin
}